.header {
  @apply bg-white dark:bg-gray-900
  text-gray-900
  dark:text-white
    p-4
    sticky
    top-0
    z-10
    flex
    backdrop-blur-sm
    items-center;
}

.header .logo {
  @apply inline-block
    text-xl
    text-gray-900
    dark:text-gray-200
    font-bold
    hover:text-gray-800
    dark:hover:text-gray-200
    hover:cursor-pointer
    transition-colors
    whitespace-pre
    duration-300;
}

.header .nav {
  @apply sm:inline-block
    w-full
    text-right
    hidden;
}

.header .nav a {
  @apply inline-block
    text-gray-900
    rounded-md
    hover:font-semibold
    hover:bg-gray-900
    hover:text-white
    dark:text-gray-300
    dark:hover:bg-white
    dark:hover:text-gray-900
    transition-colors
    duration-300
    px-4
    mx-1
    py-2;
}

.active {
  @apply border
    border-gray-900
    dark:border-white
    text-white;
}
